#abo #center_column {
    width:712px;
    margin: 0 24px 0 12px;
}

#abo #center_column .step .left-side {
    border-right: 1px solid #6E503B;
    margin-right: 20px;
}

#abo #left_column .secondary-menu .secondary-menu-item {
    text-align: left;
}

#abo #left_column .secondary-menu .secondary-menu-item a {
    padding-left: 5px;
}

#abo #left_column .submenu-item {
    padding-left: 19px;
}


/* ************************************************************************************************
        PAGE abonnement
************************************************************************************************ */
#abo #center_column h2.green-title {
    margin-bottom: 0;
    line-height: 22px;
    font-weight: normal;
}
#abo #abonnement-box {
    float: left;
    margin: 0 30px 10px 30px;
}
#abo .img-step {
    display: block;
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 10px;
}

#abo .step {
    margin: 15px 0;
}

.ie7 #abo .step {
    margin: 20px 0;
}

#abo .img-step-1 { background: url('../img/asset/img_solo/abonnement-1.png') no-repeat; }
#abo .img-step-2 { background: url('../img/asset/img_solo/abonnement-2.png') no-repeat; }
#abo .img-step-3 { background: url('../img/asset/img_solo/abonnement-3.png') no-repeat; }
#abo .img-step-4 { background: url('../img/asset/img_solo/abonnement-4.png') no-repeat; }

#abo .step ul,
#abo .step .left-side,
#abo .step .right-side,
#abo .step .left-side p,
#abo .step .left-side ul {
    float: left;
}

#abo .step .frequence-list {
    width: 115px;
    margin-left: 7px;
}

#abo .step .left-side ul li {
    margin-bottom: 5px;
}

#abo .step .left-side {
    width: 195px;
}

#abo #center_column .step .left-side.last-step {
    width: auto;
    border: none;
    margin-right: 0;
}

#abo .step .colis-label {
    margin-right: 20px;
}

#abo .step .notes {
    margin: 20px 0;
    font-style: italic;
    font-size: 12px;
}

#abo #step1 .right-side ul,
#abo #step1 .right-side select,
#abo #step1 .right-side label,
#abo #step1 .right-side p {
    float: left;
}

#abo #step1 .right-side {
    width: 445px;
}
.ie7 #abo #step1 .right-side,
.ie7 #abo #step1 .left-side {
    height: 102px;
}

#abo #step1 .right-side label {
    width: 135px;
    margin-right: 20px;
}

#abo #step1 .sbHolder{
    float: left;
    position: relative;
    width: 60px;
}
#abo #step1 .sbOptions,
#abo #step1 .sbSelector{
    width: 60px;
}

#abo #step1 .right-side p {
    margin-top: 20px;
    line-height: 30px;
}

#abo #step1 .right-side p .price {
    font-weight: bold;
    color: #4d9810;
    font-size: 30px;
    margin-left: 10px;
}

#abo #step1 .right-side p .euro {
    font-weight: bold;
    color: #4d9810;
    font-size: 30px;
}

#abo #step2 .left-side {
    min-height: 116px;
    margin-bottom: 20px;
}

#abo #step2 .right-side {
    width: 446px;
}

#abo #step2 .left-side ul li {
    margin-bottom: 0px;
}

#abo #step2 #form-adresse label,
#abo #step2 #form-adresse input {
    display: block;
}

#abo #step2 #form-adresse input {
    margin: 2px 0 10px 0;
    width: 170px;
}

#abo #adress-submit {
    padding: 8px 15px;
    float: right;
    margin-right: 18px !important;
    display: inline;
}

.ie7 #abo #adress-submit {
    padding: 8px 5px;
    font-size: 11px;
    display: inline;
}

#abo #villes,
#abo #modify-address,
#abo #cancel-address {
    color: #4d9810;
}

#abo #cancel-address {
    float: left;
    line-height: 36px;
    display: inline;
}

#abo #step2 #saved-adresse,
#abo #step2 #form-adresse {
    margin-bottom: 20px;
}

#abo #step2 a {
    font-size: 13px;
    font-style: italic;
}

#abo #villes-abonnees {
    display: none;
    background: url('../img/asset/img_solo/popin-overlay.png') repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3337;
}

#abo #villes-abonnees .popin {
    position: fixed;
    width: 286px;
    height: 280px;
    left: 50%;
    top: 50%;
    margin: -158px 0 0 -155px;
    background: url('../img/asset/textures/fond-papier-clair.jpg') repeat-y 0 0;
    -moz-border-radius: 4px;
         border-radius: 4px;
    padding: 30px;
    border: 1px solid #bead9f;
    -webkit-transform: translateZ(0);
}

#abo #villes-abonnees .popin select {
    width: 286px;
    font-size: 16px;
}

#abo #villes-abonnees .popin .popin-close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 6px;
    background: url('../img/asset/img_solo/popin-close.png') no-repeat;
}

#abo #step3 .radio { padding-left: 8px; }
#abo .radio input { width: 13px; height: 13px; }
#abo #step3 #days-choice {
    float: left;
    padding-right: 4px;
    width: 191px;
}
#abo #step3 #days-choice div {
    float: right;
}
#abo #step3 #days-choice div.pronom {
    line-height: 27px;
}
#abo #step3 #day-number {
    display: none;
}
#abo #step3 #day-number .sbHolder {
    float: left;
    position: relative;
    width: 65px;
    margin-left: 5px;
}
.ie9 #abo #step3 #day-number .sbHolder { margin-left: 3px; }
#abo #step3 #day-number .sbOptions,
#abo #step3 #day-number .sbSelector {
    width: 65px;
}

#abo #step3 #day-name .sbHolder {
    float: left;
    position: relative;
    width: 98px;
    margin-left: 5px;
}
#abo #step3 #day-name .sbOptions,
#abo #step3 #day-name .sbSelector {
    width: 98px;
}

#abo #step3 #bi-mensuelle-phrase,
#abo #step3 #mensuelle-phrase { display: none; width: 100%; text-align: right; }


#abo #step3 .left-side {
    min-height: 140px;
    height: auto !important; /* ie */ 
    height: 140px; /* ie */
}

#abo #step3 .right-side p {
    margin-bottom: 0;
}

#abo .comment {
    font-size: 12px; font-style: italic;
}

#abo #step3 #creneau {
    float: none;
    margin-top: 15px;
}

#abo #step3 #creneau li {
    margin-bottom: 15px;
}

#abo #step3 #creneau #error {
    color: #ae2b25;
}

#abo #step3 #creneau .sbHolder li,
#abo #step3 #creneau li + li + li + li { margin-bottom: 0; }

#abo #step3 #creneau li p {
    font-size: 14px; font-style: italic;
    line-height: 24px;
    color: #4D9810;
}

#abo #step3 #creneau li p img {    
    vertical-align: bottom;
    margin-left: 10px;
}

#abo #step3 #creneau label {
    width: 70px;
    display: block;
    float: left;
    line-height: 23px;
}

#abo #step3 #creneau li div + label,
#abo #step3 #creneau li select + label { text-align: center; }

#abo #step3 #creneau .sbHolder {
    float: left;
    position: relative;
    width: 82px;
    margin-left: 5px;
}
#abo #step3 #creneau .sbOptions,
#abo #step3 #creneau .sbSelector {
    width: 82px;
}

#abo #step3 .step3-tel {
    margin-top: 20px;
}

#abo #step4 ul {
    width: 565px;
    margin-left: 15px;
}

#abo #step4 input {
    float: left;
}

#abo #step4 label {
    float: left;
    max-width: 535px;
    width: 535px;
}

#abo #abonnement-submit {
    width: 200px;
    display: block;
    margin: 35px auto;
    padding: 10px 20px 10px 20px;
}